<% post_hobby.comments.where(parent_id: nil).each do |comment| %>
  <%= render 'comments/comment', comment: comment, reply_comment: reply_comment, post_hobby: post_hobby %>
<% end %>

<!-- 記載しないとoffset数超えたら2重にコメントがされてしまう -->
<% post_hobby.comments.where(parent_id: nil).offset(2).any? %>
<div clss"text-reight">
  <button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
</div>

<!-- offset入力しないと2重にコメントされる -->
<div id="collapseExample" class="collapse">
    <% post_hobby.comments.where(parent_id: nil).offset(2).each do |comment| %>
     <%= render 'comments/comment', comment: comment, reply_comment: reply_comment, post_hobby: post_hobby %>
  <% end %>
</div>