<div class="row py-3">
  <h3><span>グループ投稿</span></h3>
</div>

<div class="row pt-5">
  <div class="col-12 group-post">
    <%= render 'index',  post_hobbies: @post_hobbies %>
  </div>
</div>

<%= javascript_pack_tag 'script/fadein' %>