<% @post_hobbies.each do |post_hobby| %>
  <div class="card pb-2 mb-2">
    <%= image_tag post_hobby.get_post_image, class: "card-img p-2" %>

    <p class="px-3">
      <% if current_user == user %>
        <%= post_hobby.post_status_i18n %>
      <% end %>
    </p>

    <h4 class="px-3"><%= link_to post_hobby.title, post_hobby_path(post_hobby) %></h4>

    <div class="px-3">
      <% if post_hobby.tags.present? %>
        <i class="fas fa-tag"><%= post_hobby.tags.map(&:tag_name).join(',') %></i>
      <% end %>
    </div>
  </div>
<% end %>