<%= search_form_for q do |f| %>
  <div class="search_field">
    <%= f.search_field :name_cont, placeholder: "ユーザー名", class: "form-control keyword" %>
  </div>
  <div class="search_field">
    <%= f.submit '検索', class: "btn-sm py-0" %>
  </div>
<% end %>
