<div class="row justify-content-center pt-5">
  <div class="col-6 text-center">
    <h2 class="mt-5"><span class="marker">&#x26a0;退会手続き</span></h2>
    <p class="mt-3">
      退会すると会員情報登録や投稿が閲覧できないようになります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>

<div class="pt-5">
  <%= link_to "退会しない", user_path(current_user), class: "btn btn-primary mr-5 px-3" %>
  <%= link_to "退会する", user_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger px-3" %>
</div>
</div>
</div>

