<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <% if user.is_status == true %>
        <td>有効</td>
      <% else %>
        <td>退会</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>



