<div class="row justify-content-center mt-5">
  <div class="col-4">
    <%= image_tag @user.get_profile_image, size: "200x200", class: "profile-img" %>
  </div>
  <div class="col-4">
    <h4><%= @user.name %>さんのページ</h4>
    <%= render 'info', user: @user %>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-9 d-flex flex-wrap">
    <%= render 'post_hobbies/index', post_hobbies: @post_hobbies %>
  </div>
</div>