/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 * require_self
 */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, "ヒラギノ丸ゴ ProN", "ヒラギノ角ゴシック", メイリオ, Arial, sans-serif;
}

$bgcolor: #fffacd;

body {
  background: repeating-linear-gradient(90deg, #fafad2 10px, #fff 20px);
  position: relative;
  height: 100vh;
}

header {
  width: 100%;
  height: 60px;
  background-color: $bgcolor;
  position: fixed;
  z-index: 98;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: $bgcolor;
  position: sticky;
	top: 100vh;
}

//ハンバーガーメニューレイアウト、位置固定
.menu {
  position:  absolute;
}

.drawer-hidden {
  display: none;
}

.drawer-open {
  height: 50px;
  width: 50px;
  top: 20px;
  right: 50px;
  align-items: center;
  z-index: 100;

  span,
  span:before,
  span:after{
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background: #000;
    transition: 0.5s;
    position: absolute;
  }

  span:before {
    bottom: 10px;
  }

  span:after {
    top: 10px;
  }
}

#drawer-input:checked ~ .drawer-open {

  span{
    background: rgba(0,0,0,0);
  }

  span::before {
    bottom: 0;
    background: #fff;
    transform: rotate(45deg);
  }

  span::after {
    top: 0;
    background: #fff;
    transform: rotate(-45deg);
  }

}

.nav-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: rgba(10,10,10,1);
  transition: .5s;
}

.nav-list {
  list-style: none;
  text-align: center;
  padding: 50px;

  li {
    padding-bottom: 10px;
  }
}

.nav-item {
  font-size: 30px;
}

#drawer-input:checked ~ .nav-content {
  left: 0;
}


//flashメッセージレイアウト
.flash-message {
  padding: 0 5px;
  text-align: center;
}

.flash-message.notice {
    background-color: #98fb98;
    color: #3cb371;
  }

.flash-message.alert {
    background-color: #ffd4d1;
    color: #930403;
  }

//ボタン位置
.action {
  text-align: right;
}

//ページタイトル固定
h3 {
  top: 100px;
  left: 50px;
  position: fixed;

  span {
    background:linear-gradient(transparent 70%, rgba(255, 153, 0,0.5) 70%);
    display: inline;
  }
}

h4 {
  span {
    background:linear-gradient(transparent 70%, rgba(255, 153, 0,0.5) 70%);
    display: inline;
  }
}

//検索バー
.search-form {
  top: 150px;
  left: 50px;
  position: fixed;
}

.index-head {
  z-index: 1;
}

//レスポンシブ
@media screen and (max-width: 768px) {

  .search-form {
    top: 18px;
    left: 300px;
    z-index: 99;
  }



}