// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//ユーザーアイコン
.user_img {
  object-fit: cover;
}

//member画面レイアウト
.member-heading {
  color: rgba(169,169,169,0.2);
  font-size: 12em;
  position: fixed;
  //要素の幅高さを指定
  transform-origin: 15% 40%;
  //要素を90°回転
  transform: rotate(90deg);
}

.member-list {
  table-layout: fixed;

  td {
    width: 25%;
    vertical-align: baseline;
    background: rgba(255,255,255,0.5);
    word-break: break-all;
    overflow-wrap : break-word;
    vertical-align: middle;
  }

  td:first-child {
    width: 10%;
  }

  td:last-child {
    width: 40%;
  }
}

//index画面レイアウト
.group-heading {
  color: rgba(169,169,169,0.2);
  font-size: 15em;
  position: fixed;
  transform-origin: 15% 50%;
  transform: rotate(90deg);
}

.group-list {
  table-layout: fixed;

  .group-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

  th {
    width: 20%;
    background-color: #ffe4c4;
  }

  th:last-child {
    width: 60%;
  }

  td {
    width: 100px;
    background: rgba(255,255,255,0.5);
    word-break: break-all;
    overflow-wrap : break-word;
    vertical-align: middle;
  }
 }

//グループ詳細
.card {
  width: 380px;
  height: 600px;

  .group-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}

.chat-display {
  width: 100%;
  height: 500px;
  overflow: scroll;
  background: rgba(255,255,255,0.7);

  .user-name {
    width: 50px;
    text-align: center;
    font-size: xx-small;
    overflow-wrap : break-word;
  }

  .chat-content {
    word-break: break-all;
    overflow-wrap : break-word;
  }
}

//グループ投稿画面
.group-post {
  .card {
    width: 500px;
    height: 550px;

    .card-img {
      height: 350px;
      object-fit: cover;
    }

    h4 {
    font-size: 20px;
    }

    p{
      font-size: 10px;
    }

    .card-content {
      height: 150px;
    }
  }

  //投稿フェードイン
  .fadein {
    opacity: 0;
  }

  .fadein.active {
    opacity: 1;
    animation: fadein 2s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(100px);
      transition-duration: 1s;
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
      transition-duration: 1s;
    }
  }
}

//レスポンシブ
@media screen and (max-width: 991px) {
  table {
    margin-top: 50px;
  }

  .card {
    width: 100%;
    height: auto;

    .group-img {
      width: 100%;
    }

    .card-body > p {
      overflow-wrap: break-word;
    }
  }

  .chat-display {
    margin: 20px 0;
  }
}