// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.new-group {
  top: 150px;
  left: 80px;
  position: fixed;
  background-color: #9400d3;
  border-radius: 50px;
}


.group-img {
    object-fit: cover;
  }


//index
.group-list {
  
  th{
    
  }
  
}

//show
.card {
   width: 100%;
   height: 600px;
  }
  
  
  
//new
$purple: #9370db;

.image-label {
  display: block;
  border: 1px solid $purple;
  background-color: #e6e6fa;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: $purple;
  text-decoration: none;
  text-align: center;
}

.image-form {
  display: none;
}