// Place all the styles related to the post_hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//投稿フォームの画像投稿デザイン
$skyblue: #00bfff;

.image-label {
  display: block;
  background-color: #fff;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid $skyblue;
  padding-top: 2px;
  color: $skyblue;
  text-decoration: none;
  text-align: center;
}

.image-form {
  display: none;
}


//投稿デザイン
.card {
  width: 600px;
  height: 500px;

  .card-img {
    height: 350px;
    object-fit: cover;
  }

  h4 {
    font-size: 20px;
  }

  p{
    font-size: 10px;
  }

  .card-content {
    height: 150px;
  }
}

//投稿フェードイン
.fadein {
  opacity: 0;
}

.fadein.active {
  opacity: 1;
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(100px);
    transition-duration: 1s;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 1s;
  }
}

//showレイアウト
.post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  height: 250px;

  .post-text {
    height: 200px;
    font-size: 20px;
    //自動的に改行する
    overflow-wrap: break-word;
    overflow: scroll;
  }
}

.like {
  height: 25px;
  border: 1px solid #f5deb3;
  border-radius: 10px;
  background-color: #fffacd;

  .far {
    color: #deb887;
  }

  .fas {
    color: #ff69b4;
  }
}

.post-date {
  font-size: 13px;
}

.status {
  color: #fff;
  background-color: #4169e1;
  border-radius: 5px;
}

//showコメント欄
.comment-display {
  width: 100%;
  height: 400px;
  background: rgba(255,255,255,0.7);
  //スクロールする
  overflow: scroll;

  .user-img {
    width: 60px;
    height: 60px;
  }

  .user-name {
    text-align: center;
    font-size: xx-small;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin: 10px 0;
  }

  tr {
    background: #fffaf0;
  }

  td:first-child {
    width: 70px;
  }

  td:last-child {
    font-size: 12px;
    vertical-align: middle;
    //改行する
    overflow-wrap: break-word;
  }
}

//下書き・非公開レイアウト
.private-list {
  .post-img {
    height: 130px;
  }

  th {
    background-color: #ffe4c4;
  }

  td {
    width: 20%;
    vertical-align: baseline;
    background: rgba(255,255,255,0.5);
  }

  td:nth-child(5),
  td:last-child {
    width: 10%;
  }
}

//レスポンシブ
@media screen and (max-width: 768px) {
  .card {
    height: 550px;
  }

  table {
    margin-top: 50px;
  }

  .function-contents {
    ul {
      margin: 0;
      display: inline-block;
    }

    li {
      margin-right: auto;
    }
  }
}