// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile-img {
  border-radius: 50%;
  object-fit: cover;
}

th {
  width: 100px;
}

td {
  width: 300px;
  border-bottom: 2px solid;
}

