// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//mypage,showレイアウト
.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile {
  th {
    width: 150px;
    height: 30px;
  }

  td {
    width: 300px;
    border-bottom: 1px solid;
    vertical-align: bottom;
  }
}

// 画像フォームレイアウト
.img-prev {
  width: 300px;
  height: 300px;
}

//投稿レイアウト
.card {
  width: 280px;
  height: 350px;
  margin: 0 5px 10px;

  p {
    font-size: 10px;
  }

  h4 {
    font-size: 20px;
  }
}

.card:hover {
  //マウスオーバー時にcardを上にあげる
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

//indexレイアウト
.user-list {
  th {
    width: 30%;
    background-color: #ffe4c4;
  }

  td {
    background: rgba(255,255,255,0.5);
  }

  th:last-child {
    text-align: center;
  }

  td:last-child {
    text-align: center;
  }

  th:first-child {
    width: 10%;
    text-align: center;
  }

  td:first-child {
    text-align: center;
  }
}

//退会確認画面
.marker {
  background:linear-gradient(transparent 70%, rgba(220, 20, 60,0.5) 70%);
  display: inline;
}

//レスポンシブ
@media screen and (max-width: 991px) {
  //mypage,show
  .profile-img {
    width: 300px;
    height: 300px;
  }

  .info {
    h4 {
      margin-top: 10px;
      text-align: center;
    }

    .profile {
      margin: 0 auto;
    }
  }

  .action {
    margin-right: 90px;
  }

  .card {
    margin: 0 auto;
  }

  //indexレイアウト
  table {
    margin-top: 50px;
  }

  //index検索機能
  .function-contents {
    li {
      margin-right: 50px;
    }
  }
}