<%= search_form_for q do |f| %>
  <div>
    <%= f.search_field :title_cont, placeholder: "キーワード検索", class: "form-control keyword" %>
  </div>
  <div>
    <%= f.collection_select :tags_id_eq, Tag.all, :id, :tag_name, include_blank: 'タグを選択', class: "form-control" %>
  </div>
  <div>
    <%= f.submit '検索', class: "btn-sm py-0" %>
  </div>
<% end %>
