<div class="row py-3">
  <h3><span>マイリスト</span></h3>
</div>

<div class="row justify-content-center pt-5">
  <div class="col-lg-5 col-md-6 offset-md-2">
    <% if @post_hobbies.present? %>
      <%= render 'index',  post_hobbies: @post_hobbies %>
    <% else %>
      <p>お気に入り登録がありません</p>
    <% end %>
  </div>
</div>
