<div class="row justify-content-center pt-5">
  <div class="col-5">
    <h3><span>お気に入り一覧</span></h3>
    <% if @post_hobbies.present? %>
      <%= render 'index',  post_hobbies: @post_hobbies %>
    <% else %>
      <p>お気に入り登録がありません</p>
    <% end %>
  </div>
</div>