<div class="row py-3">
  <h3>投稿一覧</h3>
</div>
<div class="row justify-content-center">
  <p class="new-post">&plus;<%= link_to '新規投稿する', new_post_hobby_path %></p>
  <div class="col-5">
    <%= render 'index', post_hobbies: @post_hobbies %>
  </div>
</div>

